* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2ffec;
  font-family: ubuntu, arial;
}

#page-wrapper {
  position: relative
}

header {
  position: fixed;
  top: 0;
  min-height: 60px;
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e2ffec;
}

.logo {
  width: 60vw;
}

#header-img {
  width: 20%;
  height: 20%;
  min-width: 20%;
  display: flex;
  justify-content: center;
  
}

ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-decoration: underline wavy blue;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 260px;
}

#hero h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.hero {
  align-items: center;
  margin-top: 15px;
  padding: auto;
  max-width: 1000px;
}

.hero-img {
  width: 100%;
  padding: auto;
  margin: 0 auto;
}

figcaption {
  margin-top: -2px;
  margin-right: 1px;
}

/*Products*/
#products {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 330px;
}

.img-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2% 0 0 2%;
  font-size: 30px;
  cursor: pointer;
}

.men {
  margin: 15px auto;
  color: #000;
  background-size: cover !important;
  background-position: center !important;
  background: url("https://images.pexels.com/photos/683381/pexels-photo-683381.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.women{
  margin: 15px auto;
  color: #000;
  background-size: cover !important;
  background-position: center !important;
  background: url('https://images.pexels.com/photos/428338/pexels-photo-428338.jpeg?auto=compress&cs=tinysrgb&h=650&w=940')
}

.kid {
  margin: 15px auto;
  color: #fff;
  background-size: cover !important;
  background-position: center !important;
  background: url("https://images.pexels.com/photos/206443/pexels-photo-206443.jpeg?auto=compress&cs=tinysrgb&h=650&w=940")
}

/*Features*/
#features {
  margin-top: 40px;
}

.persuasive-text {
  text-align: center;
  margin-bottom: 20px;
  font-family: Chango;
  font-size: 1.8em;
  font-weight: 200;
}

.row {
  display: flex;
  flex-direction: row;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-left: 120px;
  border: ;
  color: red;
}

.blue {
  color: blue;
}

.gold {
  color: gold;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 53%;
  padding: 5px;
}

/*Sign Up*/

.sign-up{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  heiht: 200px;
  margin-top: 15px;
}

.sign-up h3 {
  margin-top: 15px;
}

.sign-up p {
  margin-top: 5px;
  margin-bottom: 10px;
}

#email {
  max-width: 400px;
  min-width: 300px;
  width: 100%;
  height: 35px;
}

#submit {
  max-width: 150px;
  width: 100%;
  height: 40px;
  margin: 10px 3px;
  background-color: #11afe2;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;  
}

#submit:hover {
  background-color: #4dafb7;
  color: #000;
}

/*Embedded video*/
#you-matter {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

iframe {
  max-width: 560px;
  width: 100%;
}

/*Footer*/
footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #03591a;
  color: #fff;
}

footer ul {
  width: 500px;
}

footer a {
  color: white;
  font-size: 15px;
}

footer a:hover {
  text-decoration: underline;
}

span

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
    }
}

@media (max-width: 650px) {  
  header {
    display: flex;
    flex-direction: column;
    width: 100%;    
}
  
  .logo {
    margin-top: 15px;
    min-width:;
    position: relative;
}
  
  #header-img {
    margin: 0 auto;
    min-width: 50%;
    height: 100%;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
  }
  
  ul {
    flex-direction: column;
  }
  
  li {
    margin: 3px;
    padding-bottom: 5px;
  }
  
  #hero {
    margin-top: 300px;
  }
  
  #hero h2{
    word-wrap: break-word;
    font-size: 28px;
  }
  
  figure {
    width: 90%;
    margin: auto;
  }
  
  .img-box {
    width: 90%;
  }
  
  .persuasive-text {
    font-size: 20px;
    margin-top: -25px;
  }
  
  /*Row will be column at this point.*/
  .row {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
  }
  
  .icon {
    margin: auto;
  }
  
  .desc {
    margin: auto;
    width: 80%;
    text-align: center;
    height: 120px;
  }
  
  .sign-up {
    margin-top: -15px;
  }
  
  #email {
    width: 350px;
  }  
}

/*My vivo smartphone*/
@media (max-width: 500px) {
  #hero {
    margin-top: 220px;
  }
  
  #products {
    margin-top: 90px;
  }
  
  .img-box {
    width: 50%;
  }
  
  .img-box h2 {
    font-size: 1em;
  }
  
  .persuasive-text {
    width: 80%;
    margin: 0 auto 20px auto;
  }
  
  .sign-up {
    margin-top: 5px;
    width: 60%;
    margin: auto;
  }
  
  #email {
    width: 90%;
  }
}
  
